[submodule "test/projects/spring-petclinic"]
	path = test/projects/spring-petclinic
	url = ssh://git@github.com/CodeEditorLand/spring-petclinic
[submodule "test/projects/gs-rest-service"]
	path = test/projects/gs-rest-service
	url = ssh://git@github.com/CodeEditorLand/gs-rest-service
