[submodule "test/projects/spring-petclinic"]
path = test/projects/spring-petclinic
url = ssh://git@github.com/CodeEditorLand/SpringPetClinic.git

[submodule "test/projects/gs-rest-service"]
path = test/projects/gs-rest-service
url = ssh://git@github.com/CodeEditorLand/GSRestService.git
